@import "colors";
@import "typography";
$fbg-mobile: "( min-width: 320px )";
$fbg-desktop: "( min-width: 1000px )";

body {
    @include font();
    background-color: $background;
    margin: 0;
    padding: 0;

    main {
        h1 {
            @include heading3();
            position: relative;
            top: -1rem;
            margin-left: 1.5rem;
            @media #{ $fbg-desktop} {
                @include heading1();
                margin-left: 35%;
            }
        }
        h2 {
            @include p-smoll-bold();
            margin-left: 1.5rem;
            margin-top: 0;
            @media #{ $fbg-desktop} {
                @include heading4();
                margin-top: 2rem;
                margin-left: 35%;
            }
        }
        hr { //divisória para a página Work Selected
            margin-left: 8%;
            width: 84%;
            border-color: $primary;
            @media #{ $fbg-desktop} {
                margin-left: 35%;
                width: 62%;
            }
        }
        a {
            text-decoration: none;
            color: $primary;
        }
        a:hover {
            color: $accent;
        }
        ul {
            padding: 0;
        }
        .worklist { //classe para os grupos de projetos em Selected Work
            @include p-medium();
            list-style-type: none;
            text-decoration: none;
            margin-left: 8%;
            @media #{ $fbg-desktop } {
                @include heading2();
                margin-top: 1.5rem;
                margin-left: 35%;
                margin-bottom: 10%;
            }
        }
        p.source { //source: my mom na homepage
            @include p-smoll-bold();
            margin-top: 1rem;
            margin-right: 1rem;
            float: right;
            @media #{ $fbg-desktop} {
                @include p-medium();
                margin-top: 2rem;
                margin-right: 10%;
            }
        }
        .divider { //espaço entre categorias de projetos
            margin-top: 3rem;
            @media #{ $fbg-desktop} {
                margin-top: 12rem;
            }
        }
        figure img { //imagem homepage
            object-fit: cover;
            margin-top: 2rem;
            width: 180px;
            height: 200px;
            margin-left: 35%;
            @media #{ $fbg-desktop} {
                width: 440px;
                height: 500px;
                margin-left: 10%;
            }
        }
        ul figure { //imagens Selected Work
            margin: 0;
            margin-top: 1rem;
            img {
                width: 92%;
                height: 160px;
                margin: 0;
            }
            @media #{ $fbg-desktop} {
                display: inline;
                margin-top: 0;
                img {
                    float: right;
                    width: 35%;
                    height: 180px;
                    margin-right: 5%;
                }
            }
        }
        .empty { //espaço para Contacts
            height: 40vh;
            @media #{ $fbg-desktop} {
                height: 70vh;
            }
        }
        .projecttitle { //Títulos de página de projetos
            margin-right: 1.5rem;
            @media #{ $fbg-desktop} {
                margin-left: 25%;
            }
        }
        h2.catg { //Subtítulos de página de projetos
            @media #{ $fbg-desktop} {
                margin-left: 25%;
            }
        }
        p {
            margin: 1.5rem;
            margin-top: 1rem;
            @media #{ $fbg-desktop} {
                margin-left: 25%;
                margin-right: 10%;
            }
        }
        section ul {
            list-style: none;
        }
        .grid-1 { //Grelha para fases de Projeto
            grid-area: research;
        }
        .grid-2 {
            grid-area: ideation;
        }
        .grid-3 {
            grid-area: prototype;
        }
        .grid {
            margin: 1.5rem;
            @media #{ $fbg-desktop} {
                display: grid;
                margin-left: 25%;
                grid-template-areas:
                    "research ideation prototype"
            }
        }
        article h2 { // sub sub títulos projetos
            @media #{ $fbg-desktop} {
                margin-left: 25%;
            }
        }
        .spotify figure { //imagens do projeto do Spotify
            width: 90%;
            margin-left: 1.5rem;
            img {
                width: 92%;
                height: 160px;
                margin: 0;
                margin-bottom: 1rem;
            }
            @media #{ $fbg-desktop} {
                width: 50%;
                margin-left: 25%;
                img {
                    height: 400px;
                }                
            }
        }
        article figure {
            width: 90%;
            margin-left: 1.5rem;
            img {
                width: 92%;
                height: 300px;
                margin: 0;
                margin-bottom: 1rem;
            }
                @media #{ $fbg-desktop} {
                width: 50%;
                margin-left: 25%;
                img {
                    height: 700px;
                }                
            }
        }
        figcaption { //captions de imagens de projetos
            margin-bottom: 3rem;
            strong {
                @include detail-bold();
                line-height: 2rem;
            }
            p {
                @include detail-regular();
            }
        }
        .illustrations { //imagens dos projetos de Digital Illustration
            width: 90%;
            margin-left: 1.5rem;
            img {
                width: 95%;
                height: 400px;
                margin: 0;
            }
                @media #{ $fbg-desktop} {
                width: 60%;
                margin-left: 25%;
                img {
                    height: 1000px;
                }                
            }
        }
        h3 {
            @include p-smoll-medium();
            margin-left: 1.5rem;
        }
        .abouttext {
            @media #{ $fbg-desktop} {
                margin-left: 35%;
            }
        }
        li p {
            margin: 0;
            margin-left: 1.5rem;
        }
        .details {
            margin-left: 1.5rem;
            li {
                list-style: none;
                h3 {
                    margin: 0;
                    margin-top: 1rem;
                }
                p {
                    margin: 0;
                }
            }
            @media #{ $fbg-desktop} {
                margin-left: 35%;
            }
        }
    }
}

header {
    padding: 24px 24px;
    @include p-smoll-medium();
    @media #{ $fbg-desktop } {
        @include p-medium();
    }
    a {
        text-decoration: none;
        color: $primary;
    }
    a:hover {
        color: $tertiary;
    }
    .name:hover {
        color: $secondary;
    }
    div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .name {
            margin-top: 1rem;
            @media #{ $fbg-desktop } {
                margin-top: 1.5rem;
            }
        }
        figure,
        a {
            margin: 0.2rem 0 0 0;
            @media #{ $fbg-desktop } {
                margin: 0.5rem 0 0 0;
            }
        }
    }
    nav {
        display: block;
        top: 4rem;
        left: 1rem;
        line-height: 1.3rem;
        ul {
            list-style: none;
            padding-left: 0px;
            left: 1.5rem;
            li.active a {
                color: $active;
                cursor: default;
                pointer-events: none;
            }
            @media #{ $fbg-desktop } {
                position: fixed;
                top: 29.5rem;
                line-height: 1.7rem;
            }
        }
    }
}

footer {
    padding-left: 1.5rem;
    @include p-smoll-medium();
    margin-bottom: 30px;
    ul {
        padding-left: 0px;
        list-style: none;
        margin-top: 0;
        margin-bottom: 5px;
        a {
            text-decoration: none;
            color: $primary;
        }
    }
    p {
        margin: 8px;
        margin-left: 0px;
    }
    @media #{ $fbg-desktop } {
        padding-left: 24px;
        @include p-medium();
        ul {
            float: left;
            margin-bottom: 1%;
            a:hover {
                color: $secondary;
            }
        }
        div {
            display: inline;
            float: right;
            margin-left: 10%;
            width: 60%;
            p {
                display: inline;
                padding-left: 15%;
            }
        }
    }
}
